@import "../../styles/index"; 

#services{
   

    p{
        color: $gray;
        text-align: justify;
    
    }

    .CompanyLogos{
        margin-top: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    img{
        width: 100px;
    }
    
}