@import "../../styles/index"; 

    .abouth{
        margin-top: 100px;
        margin-bottom: 100px;
    }

    p{
        text-align: justify;
        font-size: 25px;
    }

    .offert{
        margin-top: 100px;
        margin-bottom: 100px;
    }
