@import "../../styles/index"; 

#carusel{
    margin-top: 70px;

    @include for-Medium-devices {
        margin-top: 70px; 
    }

    img{
        height: 100vh;
        width: auto;
        @include for-Extra-Small-devices{
            height: 50vh;
        }

        @include for-Small-devices {
            height: 50vh;
        }

        @include for-Medium-devices{     
            height: 50vh;     
        }

         @include for-Large-devices{     
            height: 80vh;     
        }
    }

    .carousel-indicators{
        display: none;
    }

    .carousel-control-prev-icon, .carousel-control-next-icon {
        background-color: transparent;         
        border-radius: 50%;
        width: 40px;
        height: 40px;
        
      }
    
    .carousel-control-prev,  .carousel-control-next{
        opacity: inherit;
    }

    .carousel-control-prev-icon, .carousel-control-next-icon {
        background-size: 50% 100%;
      }
}

