@import "../../styles/index"; 


#contact{
    margin-bottom: 100px;
    
    form{
        margin-top: 40px;
        text-align: center;

    button{
        background-color: $gold;
        border-color: $gold;
        border-radius: 20px;
        font-size: 20px;
        padding: 10px 20px !important;
        font-weight: 800;
        width: 400px;
        border: 2px solid $gold;

        &:hover{
            background-color: transparent;
            color: $gold;
        
        }

        
        @include for-Extra-Small-devices{
            width: 100%;
            font-size: 15px;
        }
        @include for-Small-devices{
            width: 100%;
            font-size: 18px;
        }

        @include for-Medium-devices{
            width: auto;
            font-size: 20px;
            font-weight: 700;
            width: 200px;
        } 


        @include for-Large-devices{
            width: auto;
            font-size: 22px;
            font-weight: 700;
            width: 300px;
        } 
    }

    .form-control {
        color: $gray;
        border: 1px solid $gray;
        border-radius: 20px;

        &::placeholder{
            color: $gray;
        }

        &:focus{
            box-shadow: 0 0 0 0.25rem rgb(243 224 0 / 25%);
        }
    }

    }


    
}